*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}

/* ----------------- Titulo Ahorcadito ----------------- */
.neonBody{
  display: flex;
  justify-content:center;
  align-items: center;
  min-height: 100vh;
  background-color: #0e1538;
}

.cont-Box{
  position: relative;
  width:1000px ; 
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
  border-radius: 20px;
  flex-direction: column;
}

.cont-Box::before{
  content: '';
  position: absolute;
  width: 150px; 
  height: 300%;
  background: linear-gradient(#cce3ff,#99faff,#66f8ff,#00f4ff,#00c3cc,	#0075ff,#0b00ff);
  animation: animate 3s linear infinite;
}
.cont-Box::after{
  content: '';
  position: absolute;
  inset: 10px; /*tamano de la linea*/
  background-color: #0e1538;
  border-radius: 16px;
}

.cont-Box h2{ 
  position: relative;
  color: aliceblue;
  font-size: 7em;
  z-index: 10;
  text-transform:uppercase ;
  letter-spacing: 4px;
  text-align: center;
  color: rgb(251, 251, 251);
  text-shadow: 0 0 5px #0d00ff71 ,
    0 0 25px 	#0075ff,
    0 0 50px #00f4ff,
    0 0 100px #cce3ff;
}

/* ----------------- Boton Play ----------------- */
.Button{
  position: relative;
  color: aliceblue;
  font-size: 5em;
  z-index: 10;
  margin-left: 5px;
}

/* ----------------- animaciones ----------------- */
@keyframes animate
{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}